<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Frameworks Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MacOSGlues.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftAutomation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aeglue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F0E39571BAA97D400FF2A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0E39641BAA98A900FF2A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F0E399B1BAF7A7400FF2A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A57F91D9E81C300ACFA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F63C4231B7CF06E000D74EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9AFB351D5B58EB00A71890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FFF5D231D899F0D008ED4F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
